<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/app01/dbhandle/" method="post">
        <p><input name="username"/> </p>
        <p><input name="password"/> </p>
        <p><input name="age"/> </p>
        <p><input type="submit" value="提交" </p>
    </form>
<table border="1">
    <thead>
    <tr>
        <th>用户名</th>
        <th>密码</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    {% for item in li %}
        <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.age }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>